.main-contents
  .main-contents__group-name
    .main-contents__group-name__text-box
      %h3=@group_now.name
      %p
        MEMBER:
        -@group_now.users.each do |member|
          =member.name
    .main-contents__group-name__edit-box
      = link_to "Edit",edit_group_path(params[:group_id])
  .main-contents__chat-list
    = render partial: 'shared/chat_article'

  %footer.main-contents__chat-form
    = form_for [@group_now, @message] do |f|
      .main-contents__chat-form__message-box
        = f.text_area :body, placeholder: "type a message"
        = f.label :image, class: "file_upload",for: "upload-icon" do
          %i.far.fa-image
        = f.file_field :image, id: "upload-icon"
        = f.hidden_field :image_cache
      = button_tag "Send", type: "submit", class: "main-contents__chat-form__send-box", value: "Send"
